.icon-system{
	background: #68bcff url("../images/icon/system.png") no-repeat 50% 30px
}
.icon-business{
	background: #BAA1E2 url("../images/icon/business.png") no-repeat 50% 30px
}
.icon-compliance{
	background: #8EA8F8 url("../images/icon/compliance.png") no-repeat 50% 30px
}

.icon-node_menu{
	background: url("../images/icon/node_menu.png") no-repeat 58px 16px
}

.icon-node_role{
	background: url("../images/icon/node_role.png") no-repeat 58px 16px
}

.icon-node_department{
	background: url("../images/icon/node_department.png") no-repeat 58px 16px
}

.icon-node_user{
	background: url("../images/icon/node_user.png") no-repeat 58px 16px
}

.icon-node_log{
	background: url("../images/icon/node_log.png") no-repeat 58px 16px
}
.icon-node_alarmSend{
	background: url("../images/icon/node_alarmSend.png") no-repeat 58px 16px;
}
.icon-node_anti-virus{
	background: url("../images/icon/node_anti-virus.png") no-repeat 58px 16px;
}
.icon-node_blacklist{
	background: url("../images/icon/node_blacklist.png") no-repeat 58px 16px;
}
.icon-node_clientManager{
	background: url("../images/icon/node_clientManager.png") no-repeat 58px 16px;
}
.icon-node_clientquery{
	background: url("../images/icon/node_clientquery.png") no-repeat 58px 16px;
}
.icon-node_dataBackUp{
	background: url("../images/icon/node_dataBackUp.png") no-repeat 58px 16px;
}
.icon-node_depranking{
	background: url("../images/icon/node_depranking.png") no-repeat 58px 16px;
}
.icon-node_equipment{
	background: url("../images/icon/node_equipment.png") no-repeat 58px 16px;
}
.icon-node_historical{
	background: url("../images/icon/node_historical.png") no-repeat 58px 16px;
}
.icon-node_index{
	background: url("../images/icon/node_index.png") no-repeat 58px 16px;
}
.icon-node_installation{
	background: url("../images/icon/node_installation.png") no-repeat 58px 16px;
}
.icon-node_IPsegment{
	background: url("../images/icon/node_IPsegment.png") no-repeat 58px 16px;
}
.icon-node_license{
	background: url("../images/icon/node_license.png") no-repeat 58px 16px;
}
.icon-node_nonisolatedIP{
	background: url("../images/icon/node_nonisolatedIP.png") no-repeat 58px 16px;
}
.icon-node_realtime{
	background: url("../images/icon/node_realtime.png") no-repeat 58px 16px;
}
.icon-node_specialIP{
	background: url("../images/icon/node_specialIP.png") no-repeat 58px 16px;
}
.icon-node_summary{
	background: url("../images/icon/node_summary.png") no-repeat 58px 16px;
}
.icon-node_systemParam{
	background: url("../images/icon/node_systemParam.png") no-repeat 58px 16px;
}
.icon-node_testing{
	background: url("../images/icon/node_testing.png") no-repeat 58px 16px;
}
.icon-node_upgrade{
	background: url("../images/icon/node_upgrade.png") no-repeat 58px 16px;
}
.icon-node_violationlevel{
	background: url("../images/icon/node_violationlevel.png") no-repeat 58px 16px;
}
.icon-node_whitelist{
	background: url("../images/icon/node_whitelist.png") no-repeat 58px 16px;
}
.icon-node_portblocking{
	background: url("../images/icon/node_portblocking.png") no-repeat 58px 24px;
}
.icon-node_filesend{
	background: url("../images/icon/node_filesend.png") no-repeat 58px 16px;
}
.icon-node_strategyip{
	background: url("../images/icon/node_strategyip.png") no-repeat 58px 16px;
}
.icon-node_filesendhistory{
	background: url("../images/icon/node_filesendhistory.png") no-repeat 58px 16px;
}
.icon-node_msgsendhistory{
	background: url("../images/icon/node_msgsendhistory.png") no-repeat 58px 16px;
}
.icon-node_msgsend{
	background: url("../images/icon/node_msgsend.png") no-repeat 58px 16px;
}
.icon-node_Policyinformation{
	background: url("../images/icon/node_Policyinformation.png") no-repeat 58px 16px;
}
.icon-node_scan{
	background: url("../images/icon/node_scan.png") no-repeat 58px 16px;
}
@media ( max-width :990px) {
	.icon-system{
		background: #68bcff url("../images/icon/system.png") no-repeat 50% 30px
	}
	.icon-business{
		background: #BAA1E2 url("../images/icon/business.png") no-repeat 50% 30px
	}
	.icon-compliance{
		background: #8EA8F8 url("../images/icon/compliance.png") no-repeat 50% 30px
	}
	.icon-node_menu{
		background: url("../images/icon/node_menu.png") no-repeat 30px 16px
	}
	
	.icon-node_role{
		background: url("../images/icon/node_role.png") no-repeat 30px 16px
	}
	
	.icon-node_department{
		background: url("../images/icon/node_department.png") no-repeat 30px 16px
	}
	
	.icon-node_user{
		background: url("../images/icon/node_user.png") no-repeat 30px 16px
	}
	
	.icon-node_log{
		background: url("../images/icon/node_log.png") no-repeat 30px 16px
	}
	.icon-node_alarmSend{
		background: url("../images/icon/node_alarmSend.png") no-repeat 30px 16px
	}
	.icon-node_anti-virus{
		background: url("../images/icon/node_anti-virus.png") no-repeat 30px 16px
	}
	.icon-node_blacklist{
		background: url("../images/icon/node_blacklist.png") no-repeat 30px 16px
	}
	.icon-node_clientManager{
		background: url("../images/icon/node_clientManager.png") no-repeat 30px 16px
	}
	.icon-node_clientquery{
		background: url("../images/icon/node_clientquery.png") no-repeat 30px 16px
	}
	.icon-node_dataBackUp{
		background: url("../images/icon/node_dataBackUp.png") no-repeat 30px 16px
	}
	.icon-node_depranking{
		background: url("../images/icon/node_depranking.png") no-repeat 30px 16px
	}
	.icon-node_equipment{
		background: url("../images/icon/node_equipment.png") no-repeat 30px 16px
	}
	.icon-node_historical{
		background: url("../images/icon/node_historical.png") no-repeat 30px 16px
	}
	.icon-node_index{
		background: url("../images/icon/node_index.png") no-repeat 30px 16px
	}
	.icon-node_installation{
		background: url("../images/icon/node_installation.png") no-repeat 30px 16px
	}
	.icon-node_IPsegment{
		background: url("../images/icon/node_IPsegment.png") no-repeat 30px 16px
	}
	.icon-node_license{
		background: url("../images/icon/node_license.png") no-repeat 30px 16px
	}
	.icon-node_nonisolatedIP{
		background: url("../images/icon/node_nonisolatedIP.png") no-repeat 30px 16px
	}
	.icon-node_realtime{
		background: url("../images/icon/node_realtime.png") no-repeat 30px 16px
	}
	.icon-node_specialIP{
		background: url("../images/icon/node_specialIP.png") no-repeat 30px 16px
	}
	.icon-node_summary{
		background: url("../images/icon/node_summary.png") no-repeat 30px 16px
	}
	.icon-node_systemParam{
		background: url("../images/icon/node_systemParam.png") no-repeat 30px 16px
	}
	.icon-node_testing{
		background: url("../images/icon/node_testing.png") no-repeat 30px 16px
	}
	.icon-node_upgrade{
		background: url("../images/icon/node_upgrade.png") no-repeat 30px 16px
	}
	.icon-node_violationlevel{
		background: url("../images/icon/node_violationlevel.png") no-repeat 30px 16px
	}
	.icon-node_whitelist{
		background: url("../images/icon/node_whitelist.png") no-repeat 30px 16px
	}
	.icon-node_portblocking{
		background: url("../images/icon/node_portblocking.png") no-repeat 30px 27px
	}
	.icon-node_filesend{
		background: url("../images/icon/node_filesend.png") no-repeat 30px 16px
	}
	.icon-node_strategyip{
		background: url("../images/icon/node_strategyip.png") no-repeat 30px 16px
	}
	.icon-node_filesendhistory{
		background: url("../images/icon/node_filesendhistory.png") no-repeat 30px 16px
	}
	.icon-node_msgsendhistory{
		background: url("../images/icon/node_msgsendhistory.png") no-repeat 30px 16px
	}
	.icon-node_msgsend{
		background: url("../images/icon/node_msgsend.png") no-repeat 30px 16px
	}
	.icon-node_Policyinformation{
		background: url("../images/icon/node_Policyinformation.png") no-repeat 30px 16px
	}
	.icon-node_scan{
		background: url("../images/icon/node_scan.png") no-repeat 30px 16px
	}
		
}

@media ( max-width :768px) {
	.icon-system{
		background: #68bcff url("../images/icon/system.png") no-repeat 50% 30px
	}
	.icon-business{
		background: #BAA1E2 url("../images/icon/business.png") no-repeat 50% 30px
	}
	.icon-compliance{
		background: #8EA8F8 url("../images/icon/compliance.png") no-repeat 50% 30px
	}
	.icon-node_menu{
		background: url("../images/icon/node_menu.png") no-repeat 50% 10px;
		background-size:50%;
	}	
	.icon-node_role{
		background: url("../images/icon/node_role.png") no-repeat 50% 10px;
		background-size:50%;
	}
	
	.icon-node_department{
		background: url("../images/icon/node_department.png") no-repeat 50% 10px;
		background-size:50%;
	}
	
	.icon-node_user{
		background: url("../images/icon/node_user.png") no-repeat 50% 10px;
		background-size:50%;
	}
	
	.icon-node_log{
		background: url("../images/icon/node_log.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_alarmSend{
		background: url("../images/icon/node_alarmSend.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_anti-virus{
		background: url("../images/icon/node_anti-virus.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_blacklist{
		background: url("../images/icon/node_blacklist.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_clientManager{
		background: url("../images/icon/node_clientManager.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_clientquery{
		background: url("../images/icon/node_clientquery.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_dataBackUp{
		background: url("../images/icon/node_dataBackUp.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_depranking{
		background: url("../images/icon/node_depranking.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_equipment{
		background: url("../images/icon/node_equipment.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_historical{
		background: url("../images/icon/node_historical.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_index{
		background: url("../images/icon/node_index.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_installation{
		background: url("../images/icon/node_installation.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_IPsegment{
		background: url("../images/icon/node_IPsegment.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_license{
		background: url("../images/icon/node_license.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_nonisolatedIP{
		background: url("../images/icon/node_nonisolatedIP.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_realtime{
		background: url("../images/icon/node_realtime.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_specialIP{
		background: url("../images/icon/node_specialIP.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_summary{
		background: url("../images/icon/node_summary.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_systemParam{
		background: url("../images/icon/node_systemParam.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_testing{
		background: url("../images/icon/node_testing.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_upgrade{
		background: url("../images/icon/node_upgrade.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_violationlevel{
		background: url("../images/icon/node_violationlevel.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_whitelist{
		background: url("../images/icon/node_whitelist.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_portblocking{
		background: url("../images/icon/node_portblocking.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_filesend{
		background: url("../images/icon/node_filesend.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_strategyip{
		background: url("../images/icon/node_strategyip.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_filesendhistory{
		background: url("../images/icon/node_filesendhistory.png") no-repeat 50% 10px;
		background-size:50%; 
	}
	.icon-node_msgsendhistory{
		background: url("../images/icon/node_msgsendhistory.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_msgsend{
		background: url("../images/icon/node_msgsend.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_Policyinformation{
		background: url("../images/icon/node_Policyinformation.png") no-repeat 50% 10px;
		background-size:50%;
	}
	.icon-node_scan{
		background: url("../images/icon/node_scan.png") no-repeat 50% 10px;
		background-size:50%;
	}

}